# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Airflow
# =========================
airflow/logs/
airflow/__pycache__/

# =========================
# Spark / Hadoop
# =========================
spark-warehouse/
metastore_db/
derby.log
*.crc

# =========================
# Data (big files)
# =========================
data/
*.parquet
docs/*.csv

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.env

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Logs gerais
# =========================
*.log

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db