# ========================
# Python
# ========================
__pycache__/
*.pyc
.venv/
venv/

# ========================
# Airflow
# ========================
airflow/logs/

# ========================
# Spark
# ========================
spark-warehouse/
*.parquet

# ========================
# Hadoop / HDFS
# ========================
namenode/
datanode/
hdfs_data/
tmp/

# ========================
# Docker / Env
# ========================
.env
.env.*
docker-volumes/

# ========================
# Data (runtime)
# ========================
data/
raw/
silver/
gold/
*.csv
*.json

# ========================
# Logs
# ========================
*.log

# ========================
# IDE
# ========================
.idea/
.vscode/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
