# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# =========================================================
# Airflow
# =========================================================
airflow/logs/
airflow/__pycache__/

# =========================================================
# Spark / Hive / Hadoop
# =========================================================
spark-warehouse/
metastore_db/
derby.log
*.crc

# Spark temp
spark/local/
tmp/

# Delta Lake
_delta_log/
*.snappy.parquet

# =========================================================
# Superset
# =========================================================
superset/superset_home/*.db
superset/superset_home/.cache/
superset/superset_home/uploads/
superset/superset_home/
superset/drivers/*.jar

# =========================================================
# Data Files
# =========================================================
data/
*.parquet
docs/*.csv

# =========================================================
# Environment / Secrets
# =========================================================
.env
.env.*
*.env

# =========================================================
# Docker
# =========================================================
docker-compose.override.yml

# =========================================================
# Logs
# =========================================================
*.log

# =========================================================
# IDEs
# =========================================================
.idea/
.vscode/

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# OS Files
# =========================================================
.DS_Store
Thumbs.db